header {

}

nav {
justify-content: flex-end;
background-color: orange;
height: 3rem;
display: flex;
align-items: center;
padding-right: 8rem;
}

nav span {
  margin-right: 3rem;
  font-weight: bold;
}

.logo {
  position: relative;
  right: 30rem;
}

.promo {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.promo h1 {
  font-size: 3rem;
}

.promo p {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  opacity: .50;
}

.button {
  font-size: 1.5rem;
  background-color: orange;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  top: 2.5rem;
}

.reasonone {
  display: flex;
  align-items: center;
  padding-top: 4rem;
}

.reasoncontent {
  margin-left: 1.5rem;
}

.reasontwo {
  display: flex;
  align-items: center;
  padding-top: 6rem;
}

.intro h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

.reasoncontent h3 {
  font-size: 1.75rem;
}

.reasoncontent p {
  font-size: 1.2rem;
}

.reasonone .reasoncontent a {
  background-color: black;
  padding: .5rem .5rem .5rem .5rem;
  color: white;
}

.content {
  background-color: orange;
  position: relative;
  bottom: 2rem;
  padding-bottom: 3rem;
}

footer {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  position: relative;
}
